@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Minerva</h1>
    <p class="lead">Start working with our solution</p>
    <p><a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-large">Sign in to portal &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>About project</h2>
        <p>
            Minerva is a project that...
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About")">Read more &raquo;</a></p>
    </div>
</div>