@model System.Web.Mvc.HandleErrorInfo

@using res = Minerva.Resources;

@{
    ViewBag.Title = res.Layout.Error;
}

<h1 class="text-danger">@res.Layout.Error.</h1>
<h2 class="text-danger">@res.Messages.ErrorDuringRequestProcessing</h2>

